
<h2><%= link_to @story.title, @story.url %></h2>

<p><%= @story.description %></p>

<p> This was posted <%= time_ago_in_words @story.created_at %> ago</p>

<div class="actions">
	<%= link_to "Edit", edit_story_path(@story) %>
	<%= link_to "Delete", story_path(@story), method: :delete %>
</div>

<div class="comments">
	<% @story.comments.each do |comment| %>

		<p><%= simple_format comment.body %></p>
		<p><%= time_ago_in_words comment.created_at %> ago</p>

		<%= link_to "delete comment", story_comment_path(comment.story_id, comment), method: :delete %> 

	<% end %>
</div>

<p><%= link_to "Add a comment", new_story_comment_path(@story) %></p>